<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhigh.sms.mapper.BizPushErrorRecordMapper">

    <resultMap type="BizPushErrorRecord" id="BizPushErrorRecordResult">
        <result property="id" column="id"/>
        <result property="messageId" column="message_id"/>
        <result property="userNumber" column="user_number"/>
        <result property="tryTimes" column="try_times"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectBizPushErrorRecordVo">
        select id, message_id, user_number, try_times, create_time, update_time, remark, del_flag from biz_push_error_record
    </sql>

    <select id="selectBizPushErrorRecordList" parameterType="BizPushErrorRecord" resultMap="BizPushErrorRecordResult">
        <include refid="selectBizPushErrorRecordVo"/>
        <where>
            <if test="messageId != null ">and message_id = #{messageId}</if>
            <if test="userNumber != null ">and user_number = #{userNumber}</if>
            <if test="tryTimes != null ">and try_times = #{tryTimes}</if>
        </where>
    </select>

    <select id="selectBizPushErrorRecordById" parameterType="Long" resultMap="BizPushErrorRecordResult">
        <include refid="selectBizPushErrorRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizPushErrorRecord" parameterType="BizPushErrorRecord" useGeneratedKeys="true" keyProperty="id">
        insert into biz_push_error_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="messageId != null">message_id,</if>
            <if test="userNumber != null">user_number,</if>
            <if test="tryTimes != null">try_times,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="messageId != null">#{messageId},</if>
            <if test="userNumber != null">#{userNumber},</if>
            <if test="tryTimes != null">#{tryTimes},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateBizPushErrorRecord" parameterType="BizPushErrorRecord">
        update biz_push_error_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="messageId != null">message_id = #{messageId},</if>
            <if test="userNumber != null">user_number = #{userNumber},</if>
            <if test="tryTimes != null">try_times = #{tryTimes},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizPushErrorRecordById" parameterType="Long">
        delete from biz_push_error_record where id = #{id}
    </delete>

    <delete id="deleteBizPushErrorRecordByIds" parameterType="String">
        delete from biz_push_error_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>