<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhigh.workorder.mapper.WorkOrderMapper">

    <resultMap type="com.flyhigh.workorder.domain.entity.WorkOrder" id="WorkOrderResult">
        <result property="id" column="id"/>
        <result property="workOrderName" column="work_order_name"/>
        <result property="workOrderType" column="work_order_type"/>
        <result property="workOrderLevel" column="work_order_level"/>
        <result property="startTime" column="start_time"/>
        <result property="deviceName" column="device_name"/>
        <result property="position" column="position"/>
        <result property="source" column="source"/>
        <result property="description" column="description"/>
        <result property="picUrl" column="pic_url"/>
        <result property="status" column="status"/>
        <result property="handleUserId" column="handle_user_id"/>
        <result property="isReject" column="is_reject"/>
        <result property="evaluate" column="evaluate"/>
        <result property="score" column="score"/>
        <result property="offer" column="offer"/>
        <result property="office" column="office"/>
        <result property="repairName" column="repair_name"/>
        <result property="repairId" column="repair_id"/>
        <result property="completeTime" column="complete_time"/>
        <result property="createId" column="create_id"/>
        <result property="createName" column="create_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectWorkOrderVo">
        select id, work_order_name, device_name, position, source, work_order_type, work_order_level, start_time, description, pic_url, status, handle_user_id, is_reject, evaluate, score, offer, office, repair_name, repair_id, complete_time, create_id, create_name, create_time, update_time from work_order
    </sql>

    <select id="selectWorkOrderList" resultMap="WorkOrderResult">
        <include refid="selectWorkOrderVo"/>
        <where>
            <if test="workOrder.workOrderName != null and workOrder.workOrderName != ''">and work_order_name =
                #{workOrder.workOrderName}
            </if>
            <if test="workOrder.workOrderType != null  and workOrder.workOrderType != ''">and work_order_type =
                #{workOrder.workOrderType}
            </if>
            <if test="workOrder.workOrderLevel != null  and workOrder.workOrderLevel != ''">and work_order_level =
                #{workOrder.workOrderLevel}
            </if>
            <if test="workOrder.deviceName != null  and workOrder.deviceName != ''">and device_name like concat('%',
                #{workOrder.deviceName}, '%')
            </if>
            <if test="workOrder.position != null  and workOrder.position != ''">and position like concat('%',
                #{workOrder.position}, '%')
            </if>
            <if test="workOrder.source != null  and workOrder.source != ''">and source = #{workOrder.source}</if>
            <if test="workOrder.description != null  and workOrder.description != ''">and description =
                #{workOrder.description}
            </if>
            <if test="workOrder.picUrl != null  and workOrder.picUrl != ''">and pic_url = #{workOrder.picUrl}</if>
            <if test="workOrder.status != null  and workOrder.status != ''">and status = #{workOrder.status}</if>
            <if test="workOrder.handleUserId != null ">and handle_user_id = #{workOrder.handleUserId}</if>
            <if test="workOrder.isReject != null ">and is_reject = #{workOrder.isReject}</if>
            <if test="workOrder.evaluate != null  and workOrder.evaluate != ''">and evaluate = #{workOrder.evaluate}
            </if>
            <if test="workOrder.score != null ">and score = #{workOrder.score}</if>
            <if test="workOrder.offer != null  and workOrder.offer != ''">and offer = #{workOrder.offer}</if>
            <if test="workOrder.office != null  and workOrder.office != ''">and office = #{workOrder.office}</if>
            <if test="workOrder.repairName != null  and workOrder.repairName != ''">and repair_name =
                #{workOrder.repairName}
            </if>
            <if test="workOrder.repairId != null and workOrder.repairId != ''">and repair_id = #{workOrder.repairId}
            </if>
            <if test="workOrder.completeTime != null ">and complete_time = #{workOrder.completeTime}</if>
            <if test="workOrder.createId != null ">and create_id = #{workOrder.createId}</if>
            <if test="workOrder.createName != null  and workOrder.createName != ''">and create_name like concat('%',
                #{workOrder.createName}, '%')
            </if>

            <if test="pageReq.keyword != null and pageReq.keyword != ''">and (work_order_name like concat('%',
                #{pageReq.keyword}, '%') or id like concat('%', #{pageReq.keyword}, '%') or device_name like concat('%',
                #{pageReq.keyword}, '%') or position like concat('%', #{pageReq.keyword}, '%'))
            </if>
            <if test="pageReq.workOrderName != null and pageReq.workOrderName != ''">and work_order_name like
                concat('%', #{pageReq.workOrderName}, '%')
            </if>
            <if test="pageReq.workOrderType != null  and pageReq.workOrderType != ''">and work_order_type =
                #{pageReq.workOrderType}
            </if>
            <if test="pageReq.workOrderLevel != null  and pageReq.workOrderLevel != ''">and work_order_level =
                #{pageReq.workOrderLevel}
            </if>
            <if test="pageReq.deviceName != null  and pageReq.deviceName != ''">and device_name like concat('%',
                #{pageReq.deviceName}, '%')
            </if>
            <if test="pageReq.position != null  and pageReq.position != ''">and position like concat('%',
                #{pageReq.position}, '%')
            </if>
            <if test="pageReq.startTime != null ">and create_time &gt;= #{pageReq.startTime}</if>
            <if test="pageReq.endTime != null ">and create_time &lt;= #{pageReq.endTime}</if>

        </where>
    </select>


    <select id="selectWorkOrderListByStatus" resultType="com.flyhigh.workorder.domain.entity.WorkOrder">
        select o.*
        from work_order o
        inner join work_order_process p on p.work_order_id = o.id

        <if test="status == 'NOK'">
            and o.status != 'OK'
        </if>

        <if test="status == 'OK'">
            and o.status = 'OK'
        </if>

        <if test="status == 'EVALUATE'">
            and o.status = 'OK'
            and o.evaluate is not null
        </if>

        <if test="status == 'NO_EVALUATE'">
            and o.status = 'OK'
            and o.evaluate is null
        </if>

        <if test="userId != null and userId != ''">
            and ((p.user_id = #{userId} and p.status is not null) or o.create_id = #{userId})
        </if>

        <if test="pageReq.keyword != null and pageReq.keyword != ''">
            and (o.work_order_name like concat('%', #{pageReq.keyword}, '%') or o.id like concat('%',
            #{pageReq.keyword}, '%') or o.device_name like concat('%', #{pageReq.keyword}, '%') or o.position like
            concat('%', #{pageReq.keyword}, '%'))
        </if>
        <if test="pageReq.workOrderName != null and pageReq.workOrderName != ''">and o.work_order_name like concat('%',
            #{pageReq.workOrderName}, '%')
        </if>
        <if test="pageReq.workOrderType != null  and pageReq.workOrderType != ''">and o.work_order_type =
            #{pageReq.workOrderType}
        </if>
        <if test="pageReq.workOrderLevel != null  and pageReq.workOrderLevel != ''">and o.work_order_level =
            #{pageReq.workOrderLevel}
        </if>
        <if test="pageReq.deviceName != null  and pageReq.deviceName != ''">and o.device_name like concat('%',
            #{pageReq.deviceName}, '%')
        </if>
        <if test="pageReq.position != null  and pageReq.position != ''">and o.position like concat('%',
            #{pageReq.position}, '%')
        </if>
        <if test="pageReq.startTime != null ">and o.create_time &gt;= #{pageReq.startTime}</if>
        <if test="pageReq.endTime != null ">and o.create_time &lt;= #{pageReq.endTime}</if>
        group by o.id
    </select>

    <select id="selectListByStatusAndStartTime" resultType="com.flyhigh.workorder.domain.entity.WorkOrder">
        <include refid="selectWorkOrderVo"/>
        WHERE status = #{status} AND start_time &lt; #{startTime}
    </select>

    <update id="updateWorkOrder" parameterType="com.flyhigh.workorder.domain.entity.WorkOrder">
        update work_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="workOrderName != null and workOrderName != ''">work_order_name = #{workOrderName},</if>
            <if test="workOrderType != null and workOrderType != ''">work_order_type = #{workOrderType},</if>
            <if test="workOrderLevel != null and workOrderLevel != ''">work_order_level = #{workOrderLevel},</if>
            <if test="deviceName != null and deviceName != ''">device_name = #{deviceName},</if>
            <if test="position != null and position != ''">position = #{position},</if>
            <if test="source != null and source != ''">source = #{source},</if>
            <if test="description != null">description = #{description},</if>
            <if test="picUrl != null">pic_url = #{picUrl},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            handle_user_id = #{handleUserId},
            <if test="isReject != null">is_reject = #{isReject},</if>
            <if test="evaluate != null">evaluate = #{evaluate},</if>
            <if test="score != null">score = #{score},</if>
            <if test="offer != null  and offer != ''">offer = #{offer},</if>
            <if test="office != null  and office != ''">office = #{office},</if>
            <if test="repairName != null  and repairName != ''">repair_name = #{repairName},</if>
            <if test="repairId != null and repairId != ''">repair_id = #{repairId},</if>
            <if test="completeTime != null">complete_time = #{completeTime},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createName != null and createName != ''">create_name = #{createName},</if>
        </trim>
        where id = #{id}
    </update>

</mapper>
